.arc-dropdown{
  display : inline-block;
  position : relative;
  * {
     box-sizing: border-box;
  }
}

.arc-dropdown-list{
  position : absolute;
  top : 100%;
  z-index : 1;
  display : inline-block;
  border : 1px solid #e5e5e5;
  padding: 2px;
  margin : 2px 0 0;
  .arc-dropdown-list-item{
    background: white;
    padding: 6px 12px;
    border-bottom : 1px solid #e5e5e5;
    &:last-child{
      border-bottom: none;
    }
  }
}

.arc-dropdown-select{
  border : 1px solid #ccc;
  background: white;
  padding: 6px 12px;
}
